@model gellmvc.Models.CartIndexViewModel
@{
  ViewBag.Title = "Checkout";
}

@using (Html.BeginForm("Submit", "Checkout"))
{
  <div class="row">
    <div class="col-xs-12">

      <div class="alert alert-warning" id="serverError" style="display:none;">
        There was a server error.
      </div>

      <!-- render partials/flash message -->

      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h3 class="content-heading">
              <img src="~/Content/images/cartLogo.png" alt="Cart Logo" />
              <span>Checkout</span>
            </h3>
          </div>
        </div>
      </div>

      @if (Model.Cart.Lines.Count() == 0)
      {
        <span>Page Go Back</span>
      }
      else
      {
        <h4>In Your Cart...</h4>
        <br />

        @Html.Partial("~/Views/Partials/Shopping/Checkout/_CheckoutSummary.cshtml", Model)
        
        @* Customer address selection will go here *@

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              @Html.ActionLink("Place Order",
                "Submit",    // method
                "Checkout",  // controller
                null,        // route arguments
                new {
                  @class = "btn btn-default go-next-btn",
                  @type = "submit"
                }
              )
            </div>
          </div>
        </div>

      }
    </div>
  </div>
}
@* End of Html form *@