@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p>This is a demonstration web app built with .NET and MVC5.</p>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <h2>Shop For Gadgets</h2>
        <p>This store provides a list of 30 electronics products. You can search, add to cart, and place an order. This is a pretend site, so you don't have to pay (and won't receive anything).</p>
    </div>

    <div class="col-md-4 col-xs-12">
        <h2>Promote Yourself</h2>
        <p>You can instantly become a staff member and try staff-only features like managing customers.</p>
    </div>

    <div class="col-md-4 col-xs-12">
        <h2>Timeless shipping!</h2>
        <p>Orders are never shipped by Fuzzy Bear</p>
    </div>
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-md-12">
        <div class="text-center">
            @Html.ActionLink("Go to Store", "Store", "Index", new { @class = "btn btn-default go-next-btn" })
        </div>
    </div>
</div>